.contenedorSobreMi {
    width: 100%;
    height: 660px;
    margin: 0px;
    margin-top: 0;
    padding: 0em;
    border: 1px solid #dbdada;
}

.imagenYo {
    width: 18em;
    height: 21em;
}

.imagenesYo {
    padding: 10em 4em 0em 9em;
}

.textoYo {
    padding: 4em 5em 0em 5em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    color: teal;
}

.yoIniciales {
    border-radius: 25%;
}

.intereses{
    color: teal;
    padding: 0em 10em 1em 33.5em;
    font-size: 1em;
    display: none;
}

.imagenesIntereses{
    width: 4em;
    height: 4em;
    border-radius: 25%;
}
.contenedorImagenesIntereses{
    padding-top: 1em;
    
}
.vineta{
    border-top: 2px solid teal;
    width: 50%;
    padding-top: 1em;
}